.wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: purple;
}
.card {
  background: url('http://lorempixel.com/80/130');
  border: 3px solid white;
  border-radius: 4px;
  display: inline-block;
}
.front, .royal {
  height: 130px;
  width: 80px;
  background-color: white;
  display:inline-block;
  margin: 0 auto;
  border: 1px solid black;
}
header {
  height: 15%;
  width: 100%;
  margin-top: 2em;
}
/*h1*/
/*h2*/
content {
  height: 80%;
  width: 80%;
  background-color: blue;
}
.opponent_bar {
  height: 10%;
  width: 80%;
  background-color: red;
  float: right;
}
.opponent_one, .opponent_two, .opponent_three {
  width: 25%;
  display: inline-block;
  margin: 0 1.5em;
  background-color: gray;
}
.king, .queen {
  width: 35%;
  display: inline-block;
}
.king .card, .queen .card {
  display: inline-block;
  position: relative;
}
.health_king, .health_queen {
  width: 35%;
  font-size: 1.6em;
  float: clear;
  display: inline-block;
  margin: .5em 0;
}
.deck_deal {
  width: 10%;
  height: 16em;
  position: relative;
  background-color: lightgreen;
}
.deck {
  height: 30%;
  width: 15%;
  background-color: tan;
  position: relative;
}
.deck .card {
  position: absolute;
}
.deal {
  margin-top: -5em;
  width: 180%;
}
.deal .card {
  position: absolute;
}
.discard {
  margin-top: -15em;
  width: 15%;
}
.discard .card {
  position: absolute;
}
.play_area {
  height: 10%;
  width: 80%;
  background-color: green;
  float: right;
}
.low_bar {
  height: 15%;
  width: 80%;
  background-color: silver;
  float: right;
}
.royal {
  background-color: silver;
}
.index {
  font-size: 2em;
  margin-top: 50%;
}
#red {
  color: red;
}
#dead {
	width: 80px;
	height: 130px;
	background: red;
}

/*.discard
.graveyard*/
