.wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
}
.card {
  position: fixed;
  background: url('http://lorempixel.com/62/100/cats');
  border: 3px solid white;
  border-radius: 4px;
  display: inline-block;
  float: clear;
}
.front, .royal {
  height: 100px;
  width: 62px;
  background-color: white;
  display:inline-block;
  margin: 0 auto;
  border: 1px solid black;
}
header {
  height: 15%;
  width: 100%;
  margin-top: 2em;
}
/*h1*/
/*h2*/
content {
  height: 80%;
  width: 90%;
  background-color: blue;
}
.opponent_bar {
  height: 10%;
  width: 80%;
  background-color: red;
  float: right;
}
.opponent_one, .opponent_two, .opponent_three {
  width: 30%;
  display: inline-block;
  background-color: gray;
}
.king .card, .queen .card {
  display: inline-block;
  position: relative;
}
.health_king, .health_queen {
  font-size: 1.25em;
  display: inline-block;
}
.deck_deal {
  height: 100%;
  width: 20%;
  position: relative;
  background-color: lightgreen;
}
.deck {
  height: 30%;
  width: 60%;
  background-color: tan;
}
.deal {
  height: 30%;
  width: 100%;
  margin-top: 7em;
  background-color: teal;
}
.discard {
  height: 30%
  widht: 100%
  background-color: orange;
}
.play_area {
  height: 70%;
  width: 80%;
  background-color: green;
  float: right;
}
.low_bar {
  height: 15%;
  width: 80%;
  background-color: silver;
  float: right;
}
.royal {
  background-color: silver;
}
.index {
  font-size: 2em;
  margin-top: 50%;
}
#red {
  color: red;
}
#dead {
  color: white;
  background-color: black;
}
#lose {
  background-color: red;
}

/*.discard
.graveyard*/
