body {
  background: silver;
}
.wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: pink;
}
.card {
  position: fixed;
  background: url('http://lorempixel.com/62/100/cats');
  border: 3px solid white;
  border-radius: 4px;
}
header {
  height: 15%;
  width: 100%;
  background-color: yellow;
}
/*h1*/
content {
  height: 80%;
  width: 90%;
  background-color: blue;
}
.opponent_bar {
  height: 25%;
  width: 100%;
  background-color: red;
}
.opponent_one, .opponent_two, .opponent_three {
  width: 30%;
  display: inline-block;
  background-color: gray;
}
.king .card, .queen .card {
  display: inline-block;
  position: relative;
}
.health_king, .health_queen {
  font-size: 1.25em;
}
/*.score
.low_bar
*/
.deck_deal, .play_area, .sidebar {
  display: inline-block;
}
.deck_deal {
  height: 70%;
  width: 10%;
  background-color: rebeccapurple;
}
.deck {
  height: 8em;
  width: 100%;
  background-color: tan;
  position: relative;
}
.deal {
  height: 7em;
  width: 100%;
  background-color: teal;
  position: relative;
}
.play_area {
  height: 70%;
  width: 75%;
  background-color: green;
}
.sidebar {
  height: 70%;
  width: 10%;
  background-color: lightblue;
}
.front, .royal {
  height: 100px;
  width: 62px;
  background-color: white;
  display:inline-block;
  margin: 0 auto;
  border: 1px solid black;
}
.royal {
  background-color: silver;
}
.index {
  font-size: 2em;
  margin-top: 50%;
}
.discard {
  z-index: 1000;
}
#red {
  color: red;
}
/*.discard
.graveyard*/
